.footer {
  width: 100%;
  background-color: #141414;
  color: #f4f4f4;
  padding: 0;
  margin: 0;
}

.content {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
}

.content p {
  margin: 0;
  margin-bottom: 10px;
}

.icons {
  margin-top: 5px;
  margin-bottom: 15px;
}

.icons img {
  cursor: pointer;
}
