.contactsFormBody {
  display: grid;
  grid-template:
    "first-name last-name"
    "email phone"
    "website company"
    "message message";
  grid-gap: 0.75em 1em;
  width: 600px;
  height: 300px;
  margin: auto;
}

.contactsForm > button {
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
}
