.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #141414;
}

.navbar > a {
  cursor: pointer;
  border: none;
  border-radius: 980px;
  background-color: transparent;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
  margin: 3px;
  text-decoration: none;
  color: #000;
}

.navbar > a:hover {
  opacity: 0.9;
  background-color: #e6e6e6;
}
