.contactsForm {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.75em 1em;
  width: 45em;
  margin: auto;
  margin-bottom: 10px;
}

.contactsForm input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.contactsForm input:focus {
  border: 2px solid #141414;
  opacity: 0.7;
}

.invalidInput {
  border: 1px solid #cc0033 !important;
  background-color: #fce4e4 !important;
  outline: none;
}

#message {
  grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
  height: 8em;
  box-sizing: border-box;
  resize: none;
}

.contactsForm button {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 10em;
  margin: auto;
  cursor: pointer;
  background-color: #0071e3;
  border: none;
  color: #f4f4f4;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 10px;
}

#contact p {
  margin: 0;
  margin-bottom: 15px;
  color: #cc0033;
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (max-width: 734px) {
  .contactsForm {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
